{# This file overrides the corresponding file in the SonataUserBundle package. #}

{% extends sonata_block.templates.block_base %}

{% block block %}
    <div id="accountLinkContainer">
        <p>
        {% if user %}
            <a class="accountLink" href="{{ path('sonata_user_profile_show') }}">{{ user.username }}</a> |
            <a class="accountLink" href="{{ path('fos_user_security_logout') }}">{{ 'link_logout' | trans({}, "SonataUserBundle")|lower }}</a>
        {% else %}
            <a class="accountLink" href="{{ path('fos_user_security_login') }}">{{ 'link_login'|trans({}, 'SonataUserBundle')|lower }}</a> |
            <a class="accountLink" href="{{ path('fos_user_registration_register') }}">{{ 'link_register'|trans({}, 'SonataUserBundle')|lower }}</a>
        {% endif %}
        </p>
    </div>
{% endblock %}
