{% for speaker in speakers %}
<div class="speakerBio">
    <header>
        {% if speaker.photo %}
            <img id="speakerThumbNail" src="{{ asset(['images/photos/', speaker.photo]|join) }}" alt="Author Image"/>
        {% endif %}
        <span id="speakerName">{{ speaker.name }}</span>

    </header>
    <p>
        {% if speaker.biography is empty %}
            If you are {{ speaker.name }}, please <a href="mailto:info@protalk.me">email</a> your biography to us!  :)
        {% else %}
            {{ speaker.biography|nl2br }}
        {% endif %}
    </p>

    <p>
        Find all talks by
        <a href="{{ path('search_results', {'search': speaker.name}) }}" title="Find all talks by {{ speaker.name }}">
            {{ speaker.name }}</a>.
    </p>
</div>
{% endfor %}
