{% extends "::base.html.twig" %}

{% block javascriptsHead %}
    {{ parent() }}

    <script>
    var protalk = {
        baseurl : {{ url('_home')|json_encode|raw }}
    }
    </script>

    <script src="{{ asset('js/page.js') }}"></script>
{% endblock %}

{% block title "Search results" %}

{% block bluestrip %}
    {% include '::bluestripThin.html.twig' %}
{% endblock %}

{% block body %}
<div id="resultHeading">
    {% if search is defined and  search != 'all' and search is not empty %}
        <h1>You have searched for '{{ search }}'</h1>
    {% endif %}
    <h1>SHOWING {% if total > 0 %}<span class="hilite">
        {% if ((paginator.currentpage - 1) * paginator.limit) + 1 == ((paginator.currentpage - 1) * paginator.limit) + results|length or total < paginator.limit %}
            {{ total }}</span>
        {% else %}
            {% if paginator.currentpage == 1 %}
                1
            {% else %}
                {{ ((paginator.currentpage - 1) * paginator.limit) + 1 }}
            {% endif %}
            </span>TO <span class="hilite">{{ total < paginator.limit ? total : ((paginator.currentpage - 1) * paginator.limit) + results|length }}</span>
        {% endif %}
    OF {% endif %}<span class="hilite">{{ total }}</span> RESULTS</h1>
</div>

{# set search var for use in sort and pagination code (necessary if search button pressed with no criteria entered) #}
{% set search = search is empty ? 'all' : search %}

{% if total > 1 %}
    <select id="sortOptions" class="form_field">
        <option>Select a sort option</option>
{% for sortOption in availableSortOptions %}
        <option data-url="{{ path(app.request.attributes.get('_route'), { 'sort': sortOption.sort, 'search':  search, 'order': sortOption.order, 'page': paginator.currentpage } ) }}"
    {%- if sort == sortOption.sort and order == sortOption.order %}
        selected="selected"
    {%- endif -%}>Sort by {{ sortOption.cleartext }}</option>
{% endfor %}
    </select>
{% endif %}

{% for media in results %}
    <article class="mediaLarge">
        <div class="mediaThumbNailLarge">
            <a href="{{ path('media_show', { 'slug': media.slug }) }}"><img src="{{ media.displayThumbnail() }}" alt="Media ThumbNail Image"/></a>
        </div>
        <div class="mediaTextLarge">
            <header>
                <h2 title="{{media.title}}"><a href="{{ path('media_show', { 'slug': media.slug }) }}">{{ media.title|truncate(34) }}</a></h2>
                <p><time datetime="{{ media.date is empty ? "" : media.date|date("Y/m/d") }}" >{{ media.date is empty ? "" : media.date|date("d M Y") }} by </time><span class="name"><a class="speaker" href="{{ url('get_speakers', { 'slug': media.slug }) }}">{{ media.getOneSpeaker()|truncate(20) }}</a></span></p>
            </header>
            <p>{{ media.description|truncate(75) }}</p>
            <footer>
                <p>
                    <span class="metadata duration">{{ media.length }}</span> |
                    <img src="{{ asset('images/binoculars.png') }}" alt="Binoculars Image"/><span class="metadata"> {{ media.visits }} {{ (media.visits == 1) ? "view" : "views" }}</span> |
                    <span id="leftPaddingTen">{% render "ProtalkMediaBundle:Rating:index" with {'rating' : media.rating } %}</span>
                </p>
            </footer>
        </div>

    </article>
{% endfor %}

{% if total > 0 and paginator.numpages > 1 %}
{% set baseUrl = path(app.request.attributes.get('_route'), { 'sort': sort, 'search':  search, 'order': order }) %}
<div id="pagerContainer">
    <span class="pagerText">PAGE {{ paginator.currentpage }} OF {{ paginator.numpages }}</span>
    <ul>
        {% if paginator.currentpage != 1 %}
            <li> <a class="pagerButton" href="{{ paginator.getUrl(baseUrl, paginator.currentpage-1) }}"><span>Previous</span></a>
        {% endif %}
        {% for i in 1..paginator.numpages%}
            {% if paginator.range.0 > 2 and i == paginator.range.0 %}
                  ...
            {% endif %}

            {%  if(i==1 or i==paginator.numpages or i in paginator.range) %}
                {% if i==paginator.currentpage %}
                    <li><a class="pagerButton active" href="{{ paginator.getUrl(baseUrl, i) }}"><span>{{i}}</span></a></li>
                {% else %}
                <li><a class="pagerButton" href="{{ paginator.getUrl(baseUrl, i) }}"><span>{{i}}</span></a></li>
                {% endif %}
            {% endif %}

            {% if paginator.range[paginator.midrange -1] < paginator.numpages -1 and i == paginator.range[paginator.midrange-1] %}
                ...
            {% endif %}
        {% endfor %}
        {% if paginator.currentpage != paginator.numpages %}
            <li> <a class="pagerButton" href="{{ paginator.getUrl(baseUrl, paginator.currentpage+1) }}"><span>Next</span></a>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block rightcolumn %}
    {% include '::sidebar.html.twig' %}
{% endblock %}
