{# This file overrides the corresponding file in the SonataUserBundle package. #}

{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    <div id="userFormContainer">
        <h1>EDIT YOUR PROFILE</h1>

        {{ form_errors(form) }}

        {% form_theme form _self %}

        <form action="{{ path('sonata_user_profile_edit') }}" method="POST">

            <div>
                {{ form_errors(form.firstname, { 'attr': {'class': 'form_error'} }) }}
                {{ form_label(form.firstname, 'label_profile_firstname', { 'label_attr': {'class': 'form_label'} }) }}
                {{ form_widget(form.firstname, { 'attr': {'class': 'form_field'} }) }}
            </div>
            <div>
                {{ form_errors(form.lastname, { 'attr': {'class': 'form_error'} }) }}
                {{ form_label(form.lastname, 'label_profile_lastname', { 'label_attr': {'class': 'form_label'} }) }}
                {{ form_widget(form.lastname, { 'attr': {'class': 'form_field'} }) }}
            </div>
            <div>
                {{ form_errors(form.website, { 'attr': {'class': 'form_error'} }) }}
                {{ form_label(form.website , 'label_profile_website', { 'label_attr': {'class': 'form_label'} }) }}
                {{ form_widget(form.website, { 'attr': {'class': 'form_field'} }) }}
            </div>
            <div>
                {{ form_errors(form.biography, { 'attr': {'class': 'form_error'} }) }}
                {{ form_label(form.biography, 'label_profile_biography', { 'label_attr': {'class': 'form_label'} }) }}
                {{ form_widget(form.biography, { 'attr': { 'class': 'form_field'} }) }}
            </div>

            {{ form_rest(form) }}
            <input type="submit" name="submit" id="editProfileButton" class="btn btn-primary" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
        </form>
    </div>
{% endblock %}