<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ProTalk - {% block title %}Welcome{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <script src="http://yui.yahooapis.com/3.5.0/build/yui/yui-min.js"></script>
        {% block javascriptsHead %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css"/>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssbase/cssbase-min.css"/>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssfonts/cssfonts-min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="yui3-skin-sam">
        <div id="panel"></div>
        <div id="headerContainer" class="contentContainer">
            <header>
                <div id="logoContainer">
                    <img id="logo" src="{{ asset('images/logo_small.png') }}" alt="ProTalk Logo" />
                </div>
                <nav>
                    <div id="firstNavLink" class="navigation"><a href="{{ path('_home') }}" >HOME</a></div>
                    <div class="navigation"><a href="{{ path('explore') }}">EXPLORE</a></div>
                    <div class="navigation"><a href="{{ path('contribute_new') }}">CONTRIBUTE</a></div>
                    <div class="navigation"><a href="{{ path('page_show', { 'url': 'about' }) }}">ABOUT</a></div>
                    <div class="navigation"><a href="{{ path('page_show', { 'url': 'contact' }) }}">CONTACT</a></div>
                </nav>
            </header>
        </div>

        {% block bluestrip %}
            {% include '::bluestrip.html.twig' %}
        {% endblock %}

        <div id="bodyContainer" class="contentContainer">
            <div id="leftColumn">
                <section>
                    {% block body %}{% endblock %}
                </section>    
            </div>    

            <div id="rightColumn">
                {% block rightcolumn %}{% endblock %}
            </div>
        </div>

        <div class="contentContainer">
            {% block moreContent %}{% endblock %}
        </div>

        <div id="footerStrip">
          <div class="contentContainer">
              <footer>
                  <div id="followUs">
                  <p>FOLLOW US</p>
                  <nav>
                      <a href="#"><img src="{{ asset('images/facebookIcon.png') }}" alt="Facebook Icon"/></a>
                      <a href="http://twitter.com/pro_talk"><img src="{{ asset('images/twitterIcon.png') }}" alt="Twitter Icon"/></a>
                      <a href="#"><img src="{{ asset('images/mailIcon.png') }}" alt="Mail Icon"/></a>
                  </nav>
                  </div>

                  <div id="copyright">
                      <p>Copyright &copy; 2012 ProTalk. All video/audio<br />
                      content and descriptions are owned by their creators</p>
                      <a href="{{ path('page_show', { 'url': 'terms' }) }}">Terms of Service</a>
                      <a href="{{ path('page_show', { 'url': 'privacy' }) }}">Privacy Policy</a>
                  </div>
              </footer>
          </div>
      </div>


    {% block javascripts %}{% endblock %}
    </body>
</html>
