{# This file overrides the corresponding file in the FOSUserBundle package. #}

{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div id="userFormContainer">

        <h1>Log In!</h1>

        {% if error %}
            <div class="userFormError">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}


        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div>
                <label class="form_label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input class="form_field" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div>
                <label class="form_label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input class="form_field" type="password" id="password" name="_password" required="required" />
            </div>

            <div>
                <input class="form_field" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label class="form_label" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            </div>

            <div>
                <input type="submit" id="_submit" name="_submit" class="btn btn-primary userButton" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                <span id="resetPassword"> ...or click here to <a class="profileLink" href="{{ url('fos_user_resetting_request') }}"> reset your password</a></span>
            </div>
        </form>
    </div>
{% endblock fos_user_content %}
