{# This file overrides the corresponding file in the FOSUserBundle package. #}

<div id="userFormContainer">

    <h1>CHANGE YOUR PASSWORD</h1>

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

        {{ form_errors(form) }}

        <div>
            {{ form_errors(form.current_password, { 'attr': {'class': 'form_error'} }) }}
            {{ form_label(form.current_password, 'form.current_password'|trans({}, 'FOSUserBundle'), { 'label_attr': {'class': 'form_label'} }) }}
            {{ form_widget(form.current_password, { 'attr': {'class': 'form_field'} }) }}
        </div>

        <div>
            {{ form_errors(form.new.first, { 'attr': {'class': 'form_error'} }) }}
            {{ form_label(form.new.first, 'form.new_password'|trans({}, 'FOSUserBundle'), { 'label_attr': {'class': 'form_label'} }) }}
            {{ form_widget(form.new.first, { 'attr': {'class': 'form_field'} }) }}
        </div>

        <div>
            {{ form_errors(form.new.second, { 'attr': {'class': 'form_error'} }) }}
            {{ form_label(form.new.second,  'form.new_password_confirmation'|trans({}, 'FOSUserBundle'), { 'label_attr': {'class': 'form_label'} }) }}
            {{ form_widget(form.new.second, { 'attr': {'class': 'form_field'} }) }}
        </div>

        {{ form_rest(form) }}

        <div>
            <input type="submit" class="btn btn-primary userButton" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
</div>
