{% extends "::base.html.twig" %}

{% block title page.pagetitle %}

{% block javascriptsHead %}
{{ parent() }}

<script>
    var protalk = {
        baseurl : {{ url('_home')|json_encode|raw }}
    }
</script>
<script src="{{ asset('js/page.js') }}"></script>
{% endblock %}


{% block body %}
<div id="leftColumn">
    <section>
        <h1>{{ page.title }}</h1>
        <p>{{ page.content }}</p>
        <div>
            <a class="button" href="{{ path('contribute_new') }}"><span>CONTRIBUTE</span></a>
        </div>
    </section>
</div>
{% endblock %}

{# TODO: Work out max no. of Category, Tag and Speaker that can be displayed.  If retrieved rcords exceed this, display 'more' link (??) #}

{% block rightcolumn %}
<div id="rightColumn" >
    <div id="sidebar">
        <section>
            <div id="categories">
                <h1>CATEGORIES</h1>
                {% render "ProtalkMediaBundle:Category:list" %}
            </div>
        </section>
        <section>
            <div id="tags">
                <h1>TAGS</h1>
                {% render "ProtalkMediaBundle:Tag:list" %}
            </div>
        </section>
        <section>
            <div id="speakers">
                <h1>SPEAKERS</h1>
                {% render "ProtalkMediaBundle:Speaker:list" %}
            </div>
        </section>
    </div>
</div>
{% endblock %}





