{% extends "::base.html.twig" %}

{% block javascriptsHead %}
    {{ parent() }}

    <script src="{{ asset('js/home.js') }}"></script>
{% endblock %}

{% block title "Home" %}

{% block body %}
<div id="leftColumn">
    <section>
        <h1>LATEST TALKS</h1>
            {% for media in latestMedia %}

            <article class="mediaLarge">
                <div class="mediaThumbNailLarge">
                    <img src="{{ asset('images/mediaThumbNail.png') }}" alt="Media ThumbNail Image"/>
                </div>
                <div class="mediaTextLarge">
                    <header>
                        <h2 title="{{media.title}}">{{ media.getTruncatedTitle(34) }}</h2>
                        <p><time datetime="{{ media.date|date("Y/m/d") }}" >{{ media.date|date("d M Y") }} by </time><span class="name">{{ media.speaker.name }}</span></p>
                    </header>
                    <p>{{ media.description }}</p>
                    <footer>
                        <span class="metadata">Rating: {% render "ProtalkMediaBundle:Rating:index" with {'rating' : media.rating } %}</span>
                    </footer>
                </div>

            </article>
            {% endfor %}
            <div>
                <a class="button" href="#"><span>MORE RECENT ITEMS</span></a>
            </div>
    </section>
</div>
{% endblock %}

{% block rightcolumn %}
<section>
    <div id="tabControl">
        <ul>
            <li><a href="#viewed">TOP VISITED</a></li>
            <li><a href="#rated">TOP RATED</a></li>
        </ul>
        <div>
            <div id="viewed">
                {% for media in topViewedMedia %}
                <article class="tabMedia">
                    <div class="tabMediaThumbNail">
                        <img src="{{ asset('images/tabMediaThumbNail.png') }}" alt="Media ThumbNail Image"/>
                    </div>
                    <div class="tabMediaText">
                        <header>
                            <h2 title="{{media.title}}">{{ media.getTruncatedTitle(25) }}</h2>
                            <p><time datetime="{{ media.date|date("Y/m/d") }}" >{{ media.date|date("d M Y") }} by </time><span class="name">Joe Bloggs</span></p>
                        </header>

                        <footer>
                            <img src="{{ asset('images/binoculars.png') }}" alt="Binoculars Image"/><span class="metadata"> {{ media.visits }} views</span>
                        </footer>
                    </div>
                </article>
                {% endfor %}
                <div>
                    <a class="button" href="#"><span>TOP VISITED ITEMS</span></a>
                </div>
            </div>

            <div id="rated">
                {% for media in topRatedMedia %}
                <article class="tabMedia">
                    <div class="tabMediaThumbNail">
                        <img src="{{ asset('images/tabMediaThumbNail.png') }}" alt="Media ThumbNail Image"/>
                    </div>
                    <div class="tabMediaText">
                        <header>
                            <h2 title="{{media.title}}">{{ media.getTruncatedTitle(25) }}</h2>
                            <p><time datetime="{{ media.date|date("Y/m/d") }}" >{{ media.date|date("d M Y") }} by </time><span class="name">Joe Bloggs</span></p>
                        </header>

                        <footer>
                            <span class="metadata">{% render "ProtalkMediaBundle:Rating:index" with {'rating' : media.rating } %}</span>
                        </footer>
                    </div>
                </article>
                {% endfor %}
                <div>
                    <a class="button" href="#"><span>TOP RATED ITEMS</span></a>
                </div>
            </div>

        </div>
    </div>
</section>

{% render "ProtalkMediaBundle:Sponsor:index" %}

{% endblock %}