{% extends "::base.html.twig" %}

{% block title "Home" %}

{% block body %}
<div id="latestTalks">
    <section>
        <h1>LATEST TALKS</h1>
        {% for i in range(1, 7) %}
        <article class="latestMedia">
            <div class="latestMediaThumbNail">
                <img src="{{ asset('images/mediaThumbNail.png') }}" alt="Media ThumbNail Image"/>
            </div>
            <div class="latestMediaText">
                <header>
                    <h2>Featured Talk #{{ i }}</h2>
                    <p><time datetime="2012-04-10" >Apr 10, 2012 by </time><span class="speaker">Ann Other</span></p>
                </header>
                <p>Topping lemon drops pie I love bear claw tiramisu. Powder chupa chups...</p>
                <footer>
                    <span class="metadata">Rating: {% render "ProtalkMediaBundle:Rating:index" %}</span>
                </footer>
            </div>

        </article>
        {% endfor %}
        <div>
            <img src="{{ asset('images/moreRecentItemsButton.png') }}" alt="More Recent Items"/>
        </div>
    </section>
</div>
{% endblock %}

{% block rightcolumn %}

<section>
    <div id="tab_control">
        <ul>
            <li><a href="#viewed">TOP VISITED</a></li>
            <li><a href="#rated">TOP RATED</a></li>
        </ul>
        <div>
            <div id="viewed">
                {% for i in range(1, 7) %}
                <article class="tabMedia">
                    <div class="tabMediaThumbNail">
                        <img src="{{ asset('images/tabMediaThumbNail.png') }}" alt="Media ThumbNail Image"/>
                    </div>
                    <div class="tabMediaText">
                        <header>
                            <h2>Last Viewed Talk #{{ i }}</h2>
                            <p><time datetime="2012-04-10">Nov 7, 2011 by </time><span class="speaker">Joe Bloggs</span></p>
                        </header>

                        <footer>
                            <img src="{{ asset('images/binoculars.png') }}" alt="Binoculars Image"/><span class="metadata"> 100 views</span>
                        </footer>
                    </div>
                </article>
                {% endfor %}
                <div>
                    <img src="{{ asset('images/topVisitedButton.png') }}" alt="Top Visited Items"/>
                </div>
            </div>

            <div id="rated">
                {% for i in range(1, 7) %}
                <article class="tabMedia">
                    <div class="tabMediaThumbNail">
                        <img src="{{ asset('images/tabMediaThumbNail.png') }}" alt="Media ThumbNail Image"/>
                    </div>
                    <div class="tabMediaText">
                        <header>
                            <h2>Top Rated Talk #{{ i }}</h2>
                            <p><time datetime="2012-04-10" >Mar 21, 2010 by </time><span class="speaker">Ivor Headache</span></p>
                        </header>

                        <footer>
                            <span class="metadata">{% render "ProtalkMediaBundle:Rating:index" %}</span>
                        </footer>
                    </div>
                </article>
                {% endfor %}
                <div>
                    <img src="{{ asset('images/topRatedButton.png') }}" alt="Top Rated Items"/>
                </div>
            </div>

        </div>
    </div>
</section>

{% render "ProtalkMediaBundle:Sponsor:index" %}

</div>

{% endblock %}