{% extends "::base.html.twig" %}

{% block javascriptsHead %}
    {{ parent() }}

    <script>
    var protalk = {
        baseurl : {{ url('_home')|json_encode|raw }}
    }
    </script>

    <script src="{{ asset('js/home.js') }}"></script>
    <script src="{{ asset('js/page.js') }}"></script>
{% endblock %}

{% block title "Home" %}

{% block body %}
<h1>LATEST TALKS</h1>
{% for media in latestMedia %}
<article class="mediaLarge">
    <div class="mediaThumbNailLarge">
        <a href="{{ path('media_show', { 'slug': media.slug }) }}"><img src="{{ media.displayThumbnail() }}" alt="Media ThumbNail Image"/></a>
    </div>
    <div class="mediaTextLarge">
        <header>
            <h2 title="{{media.title}}"><a href="{{ path('media_show', { 'slug': media.slug }) }}">{{ media.getTruncatedTitle(34) }}</a></h2>
            <p><time datetime="{{ media.date is empty ? "" : media.date|date("Y/m/d") }}" >{{ media.date is empty ? "" : media.date|date("d M Y") }} by </time><span class="name"><a class="speaker" href="{{ url('get_speakers', { 'id': media.id }) }}">{{ media.getTruncatedSpeaker(20) }}</a></span></p>
        </header>
        <p>{{ media.getTruncatedDescription() }}</p>
        <footer>
            <span class="metadata">Rating: {% render "ProtalkMediaBundle:Rating:index" with {'rating' : media.rating } %}</span>
        </footer>
    </div>
</article>
{% endfor %}
<div>
    <a class="button" href="{{ path('search_results') }}"><span>MORE RECENT ITEMS</span></a>
</div>
{% endblock %}

{% block rightcolumn %}
<section>
    <div id="tabControl" class="hidden">
        <ul>
            <li><a href="#viewed">TOP VISITED</a></li>
            <li><a href="#rated">TOP RATED</a></li>
        </ul>
        <div>
            <div id="viewed">
                {% for media in topViewedMedia %}
                <article class="tabMedia">
                    <div class="tabMediaThumbNail">
                        <a href="{{ path('media_show', { 'slug': media.slug }) }}"><img src="{{ media.displayThumbnail() }}" alt="Media ThumbNail Image"/></a>
                    </div>
                    <div class="tabMediaText">
                        <header>
                            <h2 title="{{media.title}}"><a href="{{ path('media_show', { 'slug': media.slug }) }}">{{ media.getTruncatedTitle(25) }}</a></h2>
                            <p><time datetime="{{ media.date is empty ? "" : media.date|date("Y/m/d") }}" >{{ media.date is empty ? "" : media.date|date("d M Y") }} by </time><span class="name"><a class="speaker" href="{{ url('get_speakers', { 'id': media.id }) }}">{{ media.date is empty ? media.getTruncatedSpeaker(25) : media.getTruncatedSpeaker() }}</a></span></p>
                        </header>

                        <footer>
                            <p><img src="{{ asset('images/binoculars.png') }}" alt="Binoculars Image"/><span class="metadata"> {{ media.visits }} views</span></p>
                        </footer>
                    </div>
                </article>
                {% endfor %}
                <div>
                    <a class="button" href="{{ path('search_results') }}"><span>TOP VISITED ITEMS</span></a>
                </div>
            </div>

            <div id="rated">
                {% for media in topRatedMedia %}
                <article class="tabMedia">
                    <div class="tabMediaThumbNail">
                        <a href="{{ path('media_show', { 'slug': media.slug }) }}"><img src="{{ media.displayThumbnail() }}" alt="Media ThumbNail Image"/></a>
                    </div>
                    <div class="tabMediaText">
                        <header>
                            <h2 title="{{media.title}}"><a href="{{ path('media_show', { 'slug': media.slug }) }}">{{ media.getTruncatedTitle(25) }}</a></h2>
                            <p><time datetime="{{ media.date is empty ? "" : media.date|date("Y/m/d") }}" >{{ media.date is empty ? "" : media.date|date("d M Y") }} by </time><span class="name"><a class="speaker" href="{{ url('get_speakers', { 'id': media.id }) }}">{{ media.date is empty ? media.getTruncatedSpeaker(20) : media.getTruncatedSpeaker() }}</a></span></p>
                        </header>

                        <footer>
                            <span class="metadata">{% render "ProtalkMediaBundle:Rating:index" with {'rating' : media.rating } %}</span>
                        </footer>
                    </div>
                </article>
                {% endfor %}
                <div>
                    <a class="button" href="{{ path('search_results') }}"><span>TOP RATED ITEMS</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="hidden">
    {% render "ProtalkMediaBundle:Sponsor:index" %}
</div>

{% endblock %}