{% extends "::base.html.twig" %}

{% block title "Contribution" %}

{% block javascriptsHead %}
{{ parent() }}

<script>
      var protalk = {
        baseurl : {{ url('_home')|json_encode|raw }}
      }
</script>
<script src="{{ asset('js/page.js') }}"></script>
{% endblock %}

{% block bluestrip %}
    {% include '::bluestripThin.html.twig' %}
{% endblock %}

{% block body %}
<h1>Contribution</h1>
{% render "ProtalkPageBundle:Page:content" with { 'url' : 'contribute' } %}

{% if app.session.hasFlash('contribution-notice') %}
<div class="contribution-notice">
    {{ app.session.flash('contribution-notice') }}
</div>
{% endif %}
<form action="{{ path('contribute_new') }}" method="post" {{ form_enctype(form) }} id="contribution">

    {{ form_errors(form) }}

    <div>
        {{ form_errors(form.name, { 'attr': {'class': 'form_error'} }) }}
        {{ form_label(form.name, 'Your name*', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form_field'} }) }}
    </div>

    <div>
        {{ form_errors(form.email, { 'attr': {'class': 'form_error'} }) }}
        {{ form_label(form.email, 'Your email address*', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form_field'} }) }}
    </div>


    <div>
        {{ form_errors(form.hostUrl, { 'attr': {'class': 'form_error'} }) }}
        {{ form_label(form.hostUrl, 'Host URL*', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.hostUrl, { 'attr': {'class': 'form_field'} }) }}
    </div>

    <div>
        {{ form_errors(form.hostName, { 'attr': {'class': 'form_error'} }) }}
        {{ form_label(form.hostName, 'Host name*', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.hostName, { 'attr': {'class': 'form_field'} }) }}
    </div>

    <div>
        {{ form_errors(form.title, { 'attr': {'class': 'form_error'} }) }}
        {{ form_label(form.title, 'Talk title*', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.title, { 'attr': {'class': 'form_field'} }) }}
    </div>

    <div>
        {{ form_errors(form.speaker) }}
        {{ form_label(form.speaker, 'Speaker name*', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.speaker, { 'attr': {'class': 'form_field'} }) }}
    </div>

    <div>
        {{ form_errors(form.slidesUrl) }}
        {{ form_label(form.slidesUrl, 'Slides URL', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.slidesUrl, { 'attr': {'class': 'form_field'} }) }}
    </div>

    <div>
        {{ form_errors(form.category) }}
        {{ form_label(form.category, 'Category*', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.category, { 'attr': {'class': 'form_field'} }) }}
    </div>

    <div>
        {{ form_errors(form.tags) }}
        {{ form_label(form.tags, 'Tags (5 max)', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.tags, { 'attr': {'class': 'form_field'} }) }}
    </div>

    <div>
        {{ form_errors(form.description) }}
        {{ form_label(form.description, 'Brief description*', { 'label_attr': {'class': 'form_label'} }) }}
        {{ form_widget(form.description, { 'attr': {'class': 'form_field'} }) }}
    </div>

    {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
    {{ form_errors(form.recaptcha) }}
    {{ form_widget(form.recaptcha, { 'attr': {
        'options' : {
            'theme' : 'clean',
        },
    } }) }}


    {{ form_rest(form) }}

    <div>
         <a id="contribute_submit_button" class="button" href="#" onclick="document.getElementById('contribution').submit();" ><span>SUBMIT</span></a>
    </div>
</form>
{% endblock %}

{% block rightcolumn %}
    {% include '::sidebar.html.twig' %}
{% endblock %}
