<div id="mediaTextContent">

    <hr />

    <section>
<div id="infoBar">
    <div class="social_sharing">
        <div class="mail"><a href="mailto:?subject=Check this out&amp;body=I think you'll like this {{ url('media_show', {'slug': media.slug}) }}" title="Share by Email"><img src="{{ asset('images/mailIcon_small.png') }}" alt="Mail"/></a></div>

        <div class="linkedinBtn"><script type="IN/Share" data-url="{{ url('media_show', {'slug': media.slug}) }}" data-counter="right"></script></div>

        <div class="pinterest"><a href="http://pinterest.com/pin/create/button/?url={{ url('media_show', {'slug': media.slug}) }}&description={{ media.description }}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>

        <div class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-text="I just enjoyed '{{media.getTruncatedTitle(60)}}'" data-via="pro_talk" data-hashtags="ProTalk">Tweet</a></div>

        <div id="fb-root"></div><div class="fb-like" data-href="{{ url('media_show', {'slug': media.slug}) }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>


    </div>
    <div id="rating">
        {% render "ProtalkMediaBundle:Rating:index" with {'rating' : media.rating } %}
    </div>
</div>
    </section>

    <hr />

    <section id="description">
        <div id="rate_button_container"><a id="button_rate_media" class="tagButton" href="#"><span> RATE THIS </span></a></div>
        <p>{{ media.description }}</p>
    </section>

    <hr />

    <section id="comments">
        {% if media.comments|length > 0 %}
        <h1>COMMENTS</h1>
        {% endif %}
         <div id="comments_content">
            {% render "ProtalkMediaBundle:Comment:list" with {'media_id' : media.id } %}
        </div>
        <div><a id="button_add_comment" class="button" href="{{ url('comment_new', {'media_id': media.id }) }}"><span>COMMENT</span></a></div>
    </section>
</div>

{# YUI Overlay markup for rating media item #}
<div id="rate_this" class="hidden">
    <div id="rate_this_content" class="yui3-widget-bd">
        <a href="{{ url('rate_media', {'id': media.id, 'rating' : '1'}) }}"><img id='rate_1' class="star" src="{{ asset('images/star_empty.png') }}" alt="Star image"/></a>
        <a href="{{ url('rate_media', {'id': media.id, 'rating' : '2'}) }}"><img id='rate_2' class="star" src="{{ asset('images/star_empty.png') }}" alt="Star image"/></a>
        <a href="{{ url('rate_media', {'id': media.id, 'rating' : '3'}) }}"><img id='rate_3' class="star" src="{{ asset('images/star_empty.png') }}" alt="Star image"/></a>
        <a href="{{ url('rate_media', {'id': media.id, 'rating' : '4'}) }}"><img id='rate_4' class="star" src="{{ asset('images/star_empty.png') }}" alt="Star image"/></a>
        <a href="{{ url('rate_media', {'id': media.id, 'rating' : '5'}) }}"><img id='rate_5' class="star" src="{{ asset('images/star_empty.png') }}" alt="Star image"/></a>
    </div>
</div>